.icon_btns {
  background-color: rgb(224, 223, 223);
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  cursor: pointer;
  color: white;
}
.icon_btns:hover {
  background-color: lightgray;
  color: black;
}
